<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Add Student Details</title>
</head>
<body>

<div class="container">

    <h3>Student Directory</h3>
    <hr>

    <p class="h4 mb-4">Add Student Details</p>

    <form th:action="@{/student/save}" th:object="${studentAdd}" method="POST">

        <p th:if="${#fields.hasErrors('fullName')}" th:errorclass="error" th:errors="*{fullName}" />
        <input type="text" th:field="*{fullName}" class="form-control mb-4 col-4" placeholder="First name">

        <p th:if="${#fields.hasErrors('age')}" th:errorclass="error" th:errors="*{age}" />
        <input type="text" th:field="*{age}" class="form-control mb-4 col-4" placeholder="Age">

        <p th:if="${#fields.hasErrors('city')}" th:errorclass="error" th:errors="*{city}" />
        <input type="text" th:field="*{city}" class="form-control mb-4 col-4" placeholder="City">
        <h1>Marks</h1>
        <p th:if="${#fields.hasErrors('maths')}" th:errorclass="error" th:errors="*{maths}" />
        <input type="text" th:field="*{maths}" class="form-control mb-4 col-4" placeholder="Maths">
        <p th:if="${#fields.hasErrors('science')}" th:errorclass="error" th:errors="*{science}" />
        <input type="text" th:field="*{science}" class="form-control mb-4 col-4" placeholder="science">

        <div class="form-group row">
            <label>Products:</label>
            <div class="col-sm-8 text-left">
            <th:block th:each="productObj: ${listProducts}">
                <input type="checkbox" th:field="*{products}" th:text="${productObj.product}" th:value="${productObj.id}"/>
            </th:block>
            </div>
        </div>

        <button type="submit" class="btn btn-info col-2">Save</button>
        <input type="hidden" id="id">

    </form>


    <hr>
    <a href="/student/list">Back to Student List</a>

</div>
<style>
    .error {
        color: red;
    }
</style>
</body>
</html>
